body, html {
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
  }

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-color: #1d1a19;
    color: aliceblue;
}

.hero-img {
    background-image: url(img/_DSF2506comp.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.logo {
    margin: 1rem;
    font-size: 2rem;
    font-weight: 300;
}

.navbar {
    display: flex;
    margin-left: 2rem;
    margin-right: 2rem;
}

.links {
    margin-left: auto;
    align-self: center;
}

.links > a {
    margin-left: 1rem;
    font-weight: 200;
    font-size: 1rem;
    transition-duration: 0.4s;
}

.links > a:hover {
    opacity: 50%;
}

a {
    text-decoration: none;
    color: aliceblue;
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 7rem;
    margin-left: 8rem;
    text-align: left;
}

#slogan {
    font-size: 6rem;
    font-weight: 500;
    margin-bottom: 1rem;
    line-height: 6rem;
}

#shop-now-btn {
    background-color: aliceblue;
    border: none;
    border-radius: .2rem;
    padding: 1.5rem;
    width: 9rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem ;
    font-weight: 200;
    transition-duration: 0.4s;
    cursor: pointer;
    opacity: 90;
}

#shop-now-btn:hover {
    opacity: 50%;
}

