body {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    display: flex;
}

.pages-top {
    text-align: center;
    width: 45rem;
}

.socials {
    margin-left: auto;
}

a {
    text-decoration: none;
}


